@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<div class="container shadow-lg mw-100">
    <form class="form-group p-5">
        <div class="bg-dark text-white-50 text-xl-center">Logo</div>
   
        <input class="form-control mt-4" type="email" placeholder="email@domain.com" name="login"/>
        <br />
        <input class="form-control mt-2" type="password" placeholder="password" name="password" />
        <br />
        <a href="" class="btn btn-outline-info mt-4">Forget Password</a>
        
        <!-- Submit is redirecting to privacy page temporaly only as draft -->
        <button class="btn btn-info mt-4" type="submit" name="loginSubmit" asp-controller="Home" asp-action="Privacy">Submit</button>
        <br />
    </form>
</div>
</div>
